<div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
        <i class="icon-arrow-left8"></i>
    </a>
    Navigation
    <a href="#" class="sidebar-mobile-expand">
        <i class="icon-screen-full"></i>
        <i class="icon-screen-normal"></i>
    </a>
</div>

<div class="sidebar-content">

    <!-- User menu -->
    <div class="sidebar-user-material">
        <div class="sidebar-user-material-body">
            <div class="card-body text-center">
                <a href="#">
                    <img src="~/img/placeholder.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                </a>
                <h6 class="mb-0 text-white text-shadow-dark">Welcome User</h6>
            </div>

            <div class="sidebar-user-material-footer">
                <a href="#user-nav" class="d-flex justify-content-between align-items-center" data-toggle="collapse"><span></span></a>
            </div>
        </div>


    </div>
    <!-- /user menu -->

    <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
            <li class="nav-item">
                <a href="index.html" class="nav-link active">
                    <i class="icon-home4"></i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Layouts</span></a>
                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                    <li class="nav-item"><a href="#" class="nav-link active">Default layout</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Layout 2</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Layout 3</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Layout 4</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Layout 5</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
